{{ if isset .Site.Params "features" }}
{{ if .Site.Params.features.enable }}
<section class="bar background-white">
    <div class="container">
      {{ range where .Data.Pages "Type" "offer" }}
        <div class="box-simple">
          <div class="icon">
            <i class="{{ .Params.icon }}"></i>
          </div>
				  <h3>
            {{ .Params.name }}
				  </h3>
          <p>{{ .Params.description | markdownify }}</p>
        </div>
			{{ end }}
    </div>
</section>
{{ end }}
{{ end }}
