/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}
.cecilie{
  font-family: 'Lobster', cursive; 
  font-size:30px; 
  margin-top:10px;
  display: inline-block;
}

